.person-wrapper{
    margin-top: 64px;
    display: flex;
    align-items: center;
    /* height: 60vh; */
    padding:20px 20px 20px 50px;
    color:var(--dominant-colour);
    background-repeat: no-repeat;
    background-size: 100%;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
}

.person-info-wrapper{
    height: 100%;
    width: 70%;
}

.name{
    font-size: 2em;
}

.appeared-in{
    height: 10%;
    font-size: 2em;
}

.left{
    width: 20%;
    max-width:25%;
    margin-right:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: var(--complementary-colour-white);
}

.person-card{
    display: flex;
    flex-direction: column;
    background-color: var(--dominant-colour);
    border-radius: 20px;
    box-shadow:0 2px 5px 0 var(--dominant-colour);

    margin-bottom: 2.5vh;
}


.person-img img{
    height: 40vh;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.follow-btn button{
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 5vh;
    background-color: var(--dominant-colour);
    color: var(--complementary-colour-white);
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
}

.person-container .movies-slider{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
}

.person-container .movies-slider .swiper{
    height: 100%;
    width: 100%;
}

/* .movies-slider .swiper-button-prev{
    top:40%;
}

.movies-slider .swiper-button-next{
    top:40%;
} */

.person-container .movies-slider .movie{
    height: 100%;
}

.person-container .movies-slider .movie img{
    height: 40vh;
}

.person-container .movies-slider .movie p{
    height: 10%;
}

.person-wrapper .followers{
    width:100%;
    text-align: center;
    font-size: 2em;
}

.collaborators-slider{
    margin-left: 20px;
    padding: 20px;
}

.collaborators-slider .swiper-slide{
    height:300px;
    max-width: 200px;
    /* width:100%; */
}

.collaborator{
    display: flex;
    flex-direction: column;
    background-color: var(--dominant-colour);
    border-radius: 20px;
    box-shadow:0 2px 5px 0 var(--dominant-colour);
    height: 100%;
}

.collaborator-image img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.collaborator p{
    color:var(--complementary-colour-white);
    font-size: 1.5em;
    height: 30%;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}