article{
    font-size:2vw;
    font-family:var(--main-font);
    position:absolute;
    color:var(--complementary-colour-white);
    background: var(--dominant-colour);
    height:60vh;
    width:20vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* opacity: 0.8; */
    text-align: center;
}

article input[type="text"]{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    padding:10px;
    margin: auto;
    width:18vw;
    left:10%;
    border-radius:20px;
    background-color:var(--complementary-colour-white);
    outline:none;
}

article button{
    background-color:var(--complementary-colour-lavender);
    color:var(--complementary-colour-white);
    height:40px;
    width:200px;
    margin:10px;
    margin-left:1px;
    border:none;
    font-family:var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 1em;
    border-bottom:1px solid silver;
    border-radius:20px;
    text-align: center;
    outline: none;
    width:97%;
}

article button:hover{
    cursor:pointer;
}

article button:active{
    transform: translateY(2px);
}

