h1{
    font-family:var(--main-font);
    color: var(--complementary-colour-white);
    text-align: center;
}



main{
    display:flex;
    margin:2em 0;
    justify-content: center;
    align-items: center;
}

article{
    /* position:relative;
    top: 5em;
    left:5em; */
    width:90%;
    background:var(--dominant-colour);
}

.featured-movies{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, 300px);
}

.label{
    text-align: center;
}

article a{
    color:var(--complementary-colour-lavender);
    font-size: 1.5em;
}



article a:visited{
    color:var(--complementary-colour-lavender);
}


article a:hover{
    color:var(--complementary-colour-white);
}



#review{
    width:50%;
    height:30vh;
    font-size: 1.5vw;
}

article input[type="submit"]{
    width:20%;
    font-size: 2vw;
}

