h1{
    font-family:var(--main-font);
    color: var(--complementary-colour-lavender);

}
article{
    display: none;
    font-size:2vw;
    font-family:var(--main-font);
    position:absolute;
    background:var(--dominant-colour);
    top:15vh;
    left:10vw;
    width:80vw;
    overflow: hidden;
    text-decoration: none;
}

article a{
    color:var(--complementary-colour-lavender);
    font-size: 1.5em;
}



article a:visited{
    color:var(--complementary-colour-lavender);
}


article a:hover{
    color:var(--complementary-colour-white);
}



#review{
    width:50%;
    height:30vh;
    font-size: 1.5vw;
}

article input[type="submit"]{
    width:20%;
    font-size: 2vw;
}

