html{
    height: 100%;
    background: linear-gradient(var(--complementary-colour-white), var(--complementary-colour-lavender));
    background-attachment: fixed;
    
}

:root{
    --dominant-colour:rgb(26,26,26);
    --complementary-colour-lavender:#8685EF;
    --complementary-colour-white:#FAF8FF;
    --complementary-colour-green:#D3FBD8;
    --main-font:Garamond, serif;
    --main-font-weight:800;
    
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 100%;
}

.navbar{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    background-color:var(--dominant-colour);
    font-family:var(--main-font);
    font-weight:var(--main-font-weight);
    font-size:1.5em;
}

a{
    color:var(--complementary-colour-lavender);
    transition: color 0.3s ease-in;
}

a:visited{
    color:var(--complementary-colour-lavender);
}

a:hover{
    color:var(--complementary-colour-white);
}


.navlinks{
    display: none;
}

.navlinks ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    justify-content: space-between;
}

.navbar a{
    transition: color 0.3s ease-in;
}


.navlinks li:hover{
    background-color:var(--complementary-colour-white);
}

.navlinks.active{
    display:flex;
    width: 100%;

}




.searchbar{
    display: flex;
    justify-content: center;
    min-height: 40px;
    margin:1em;
}


#searchbar{
    border:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    background-color: var(--complementary-colour-white);
    min-width:250px;
    height: 100%;
    outline:none;
    color:var(--dominant-colour);
    box-sizing:border-box;
    text-align: center;
    border-left:none;
}

.navbar button{
    min-width:40px;
    height:40px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-left: none;   
    background-color: var(--complementary-colour-white);
    border: 0;
}


#search-options{
    min-width:120px;
    height: 100%;
    color: var(--complementary-colour-white);
    border:0;
    outline:0;
    background-color: var(--complementary-colour-lavender);
}

option{
    background-color: var(--complementary-colour-white);
    color:var(--complementary-colour-lavender);
    border-radius: 0;
}

i{
    color:var(--complementary-colour-lavender);
}


#hiddenusername{
    display: none;
}

@media screen and (min-width: 1000px){
    .hamburger{
        display: none;
    }
    
    .nav-container{
        flex:1;
        justify-content: space-evenly;
    }

    .navbar{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .navlinks ul{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navlinks{
        display: flex;
        flex: 1;
    }

    .navlinks li:hover{
        background-color: transparent;
    }

    .navlinks a:hover{
        color:var(--complementary-colour-white);
    }
}


