article{
    font-size:2vw;
    font-family:var(--main-font);
    position:relative;
    background:var(--dominant-colour);
    top:15vh;
    left:10vw;
    width:80vw;
    overflow: hidden;
    text-decoration: none;
}

article a{
    color:var(--complementary-colour-lavender);
    font-size: 1.5em;
}



article a:visited{
    color:var(--complementary-colour-lavender);
}


article a:hover{
    color:var(--complementary-colour-white);
}


span{
    display:inline-block;
}


.person{
    width:100%;
}


.next{
    margin-left:30em;
}


