h2{
    font-family: var(--main-font);
    color: var(--complementary-colour-lavender);
}

main{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.infoPanel{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    position:relative;
    top:15vh;
    left:2vw;
    width:25vw;
    height:20em;
    /* border-radius: 20px; */
    font-size:20px;
    font-family:var(--main-font);
    border-bottom: 1px solid silver;
    background:var(--dominant-colour);
    font-family: var(--main-font);
    color:var(--complementary-colour-lavender);
    
}

.infoPanel input[type="button"]{
    height:10vh;
    width:20vw;
    border-radius:20px;
    outline:none;
    background-color:var(--complementary-colour-lavender);
    color:var(--complementary-colour-white);
    height:40px; 
    box-shadow:0 2px #000000;
    font-family: var(--main-font);
    color: var(--complementary-colour-white);
    font-size: 1em;
}


input[type="button"]:hover{
    cursor: pointer;
}

input[type="button"]:active{
    transform: translateY(2px);
}

#pfp{
    border-bottom: 1px solid silver;
    text-align: center;
    background-color:var(--dominant-colour);
    width: 100%;
 
}
#pfp img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    height:30vh;
    /* border-radius:20vw; */
    
}

.mainPane{
    text-align: center;
    position: relative;
    top:15vh;
    right:5vw;
    display:inline-block;
    width:60vw;
    height:100%;
    overflow:hidden;
    background: var(--dominant-colour);
    /* border-radius: 20px; */
    font-family:var(--main-font);
    
}

.mainPane h2{
    border-bottom: 3px solid silver;
}

.mainPane a{
    text-decoration: none;
    font-size:1.5vw;
    position: relative;
    
}

.profileItems{
    /* position:relative; */
    /* bottom:4vh; */
    margin:0;
    background-color: var(--complementary-colour-white);
    width:100%;
    display:flex;
    justify-content:space-between;
    text-align: center;
    border-bottom: 1px solid silver;
}

.label{
    font-size:1.5vw;
}

.value{
    font-size:1.5vw;
}

#username{
    font-size: 2vw;
}

#contributor-options{
    text-align: center;
    background-color: var(--complementary-colour-green);
    width: 100%;
}

#loggedInUser{
    display:none;
}

.label{
    color:var(--complementary-colour-lavender);
    font-weight: bold;
    font-size: 1.5vw;
}

.reviewItem{
    border-bottom: 2px solid silver;
}


