.movie-wrapper{
    margin-top: 64px;
    /* background-color: black; */
    display: flex;
    padding:20px 20px 20px 50px;
    color:var(--complementary-colour-white);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(5, 4, 4, 0.75);
    font-weight: normal;
}

.movie-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-right: 50px;
    min-width: 20%;
}

.movie-img img{
    width: 100%;
    height: 100%;
}

.movie-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
}

.movie-facts{
    display: flex;
    font-size: 1.25em;
    /* justify-content: space-between; */
    list-style:square;
    text-align: center;
    /* padding-left: 20px; */
}

.movie-facts li:first-child{
    list-style: none;
}



/* .rated{
    border:2px solid black
} */

.movie-facts li:first-child{
    margin-left: 0;
}

.movie-facts li{
    margin-left:50px;
}
.title{
    font-size: 2.5em;
    font-family: var(--main-font);
    font-weight: bold;
}

.movie-personnel{
    font-size: 1.5em;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
}

.movie-personnel a{
    color:var(--complementary-colour-white);
    transition: color 0.3s ease-in;
}

.movie-personnel a:visited{
    color:var(--complementary-colour-white);
}

.movie-personnel a:hover{
    color:var(--complementary-colour-lavender);
}



.label{
    font-size: 1.5em;
    font-family: var(--main-font);
    font-weight: bold;
}

.directed-wrapper{
    font-size: 1.5em;
    color:var(--complementary-colour-white);
}

.directed a{
    color: var(--complementary-colour-white);
}

.actors-slider{
    margin-bottom: 50px;
}

.writers-slider{
    margin-bottom: 50px;
}

.actors-slider .swiper-slide{
    height:300px;
    max-width: 200px;
    /* width:100%; */
}

.writers-slider .swiper-slide{
    height:300px;
    max-width: 200px;
    /* width:100%; */
}

.actor{
    display: flex;
    flex-direction: column;
    background-color: var(--dominant-colour);
    border-radius: 20px;
    box-shadow:0 2px 5px 0 var(--dominant-colour);
    height: 100%;
}

.actor-image{
    width: 100%;
    height: 70%;
   /* border-radius: 200px; */
   border-radius: 20px;
}

.actor-image img{
    height:100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.actor p{
    color:var(--complementary-colour-white);
    font-size: 1.5em;
    height: 30%;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.movie-bottom-page{
    width: 100%;
    padding:50px;
}

.movie p{
    text-align: center;
    color:var(--complementary-colour-white);
    font-size: 1.5em;
}

.movie img{
    height: 60vh;
    max-width: 100%;
    min-width: 100%;
}

.movie-reviews{
    padding: 20px;
}
.movie-review{
    display: flex;
    background-color: var(--complementary-colour-white);
    width: 40vw;
    padding:20px;
    align-items: center;
    gap:2em;
    box-shadow:0 2px 5px 0 var(--dominant-colour);
}

.movie-review-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.5em;
    width:max-content;
}

.movie-review-left p{
    font-size: 2em;
    text-align: center;
}

.movie-reviewer-image img{
    height: 20vh;
    border-radius: 200px;
}



.movie-review-rating{
    background-color: black;
    color:var(--complementary-colour-white);
    width: max-content;
    border-radius: 5px;
}

.movie-review-summary{
    font-size: 2em;
}

.movie-icon {
    margin-left: 0.5em;
    vertical-align: text-bottom;
    cursor: pointer;
    font-size: 1.5em;
    padding: 5px;
    color: var(--complementary-colour-white);
}
