.welcome-wrapper{
  /* text-align: center; */
  margin-top: 64px;
  padding-bottom:20px;
}

.home-container .label{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 2.5em;
  font-weight: bold;
}


.welcome-wrapper p:last-child{
  font-size: 2em;
  padding-left:20px;
} 

.home-container .dark{
  background-color: rgba(5, 4, 4, 0.75);
  color:var(--complementary-colour-white);
}

.home-container .light{
  color:var(--dominant-colour);
}

.home-container .movie-title{
  padding:20px;
  font-weight: bold;
}

.home-container .swiper {
  height: 70vh;
}
  
.home-container .movies-slider{
  padding: 0 15px 0 15px
}

.home-container .swiper-slide{
  height: 100%;
}

.home-container .movie{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}



@media screen and (min-width: 320px){
  .home-container .movie img{
    height: 80%;
    width:55%;
  }
}

@media screen and (min-width: 520px){
  .home-container .movie img{
    height: 80%;
    width: 95%;
  }
}


@media screen and (min-width: 1280px){
  .welcome-wrapper{
    /* text-align: center; */
    margin-top: 64px;
    padding-bottom:20px;
  }
  
  .home-container .movies-slider{
    padding: 0 15px 0 15px
  }
  .home-container .label{
    padding: 10px 0 0 15px;
    font-size: 3.5em;
    font-weight: bold;
  }
  
  
  .welcome-wrapper p:last-child{
    font-size: 2em;
    padding-left:20px;
  } 
  
  .home-container .dark{
    background-color: rgba(5, 4, 4, 0.75);
    color:var(--complementary-colour-white);
  }
  
  .home-container .light{
    color:var(--dominant-colour);
  }
  
  .movie-title{
    padding:20px;
    font-weight: bold;
  }
  
  .home-container .swiper {
    height: 70vh;
  }
  
  .home-container .swiper-slide{
    height: 100%;
  }
  
  .home-container .movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
/*   
  .home-container .movie img{
    height: 80%;
    width:95%;
  } */
}