doctype html
head
  title Movie Database
  link(rel='stylesheet' href='css/people.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
header
  include ../partials/navbar.pug
  
main
  article#myArticle
    each person in people
        span.person
          img(src="/images/blankpfp.png" width=50 height=50)
          a(href="/people/"+person.name)=person.name 
        br
  
    if qObj.page > 1
      -let url = "/people?name=" + qObj.name + "&page="+(qObj.page-1)
      span.previous
        a(href=url) Previous 
    
    if qObj.hasNext
      -let url = "/people?name=" + qObj.name + "&page="+(qObj.page+1)
      span.next
        a(href=url) Next 