.pagination-container{
    display: flex;
    justify-content: center;
    gap:1em;
    list-style: none;
    width: 100%;
    /* position: absolute; */
    /* left:50%;
    transform: translateX(-50%); */
    /* list-style: none;
    display: flex;
    position: absolute;
    gap:1em;
    left:50%;
    transform:translateX(-50%);
    font-family: var(--main-font);
    margin-bottom: 10em; */
}

.pagination-container li{
    display: flex;
}

.pagination-container li a{
    display: flex;
    font-weight: bold;
    background-color: var(--complementary-colour-lavender);
    color:var(--complementary-colour-white);
    font-family: var(--main-font);
    font-size: 1.5em;
    padding:20px;
    width: 100%;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5em;
    gap:1em;
}

.pagination-container a:hover{
    border-radius: 200px;
    background-color: black;
}

.page{
    /* background-color: black;
    color:var(--complementary-colour-white);
    box-shadow:0 2px 5px 0 var(--dominant-colour);
    display: flex;
    align-items: center;
    margin-bottom: 20em;
    height: 3em;
    width:3em;
    text-align: center; */
}

/* .next{
    background-color: black;
    color:var(--complementary-colour-white);

}

.previous{
    background-color: black;
    color:var(--complementary-colour-white);
    text-align: center;
    width:3em;
} */

